html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
}

body {
  margin: 2rem auto;
  overflow-x: hidden;
  background-color: #000 !important;
  font-family: Futura !important;
}

p {
  padding: 1rem;
  font-size: 1.25rem;
}

/* INT Navbar Styles */
.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
}

.active {
  font-weight: 900 !important;
}

.third-color {
  color: #ffffff;
}

.navbar-toggler {
  background-color: #fde300 !important;
  border: 1px solid #fde300;
}

/* END Navbar Styles */

/* INT Header Styles */
.header-banner {
  width: 100%;
  height: auto;
}

/* END Header Styles */

.contenedor {
  width: 100%;
  font-family: Futura;
}

.contenedor a {
  font-size: 16px !important;
  color: #ffc107eb !important;
  text-decoration: none !important;
}

.row-content {
  width: 100%;
  background: #000000;
  ;
}

.clearFix {
  padding: 7px 0;
  display: flex;
  justify-content: space-evenly;
}

/* INT ImageGallery */
.row {
  background: #000 !important;
}

.sub-text {
  color: #fff;
  font-size: 36px;
  position: relative;
  bottom: 12px;
  text-transform: uppercase;
  font-family: Futura;
}

.col-6,
.col-12 {
  position: relative !important;
  top: 37px;
}

.content-galery {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery-text {
  width: 721px;
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 1px;
  display: flex;
}

.gallery-image {
  width: 285px;
}

.text-gallery {
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 15px;
  text-transform: uppercase;
}

/* END ImageGallery */

.fluotec-image {
  position: relative;
  top: 120px;
  height: 78px;
}

/* Content Cards */
.second-color {
  color: #fde300;
}

.text-cards-header {
  color: #fde300 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  font-weight: 200;
  font-size: 30px;
  top: 22px;
}

.cards {
  background: #121216;
  border: 1px solid #121216;
  width: 49%;
  height: 545px;
}

.cards-text {
  color: #fff;
  text-align: center;
  width: 100%;
}

.cards-text h4 {
  font-size: 30px;
  margin-top: 52px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: .016em;
}

.cards-text h5 {
  font-size: 18px;
  font-weight: 300;
  line-height: 2.2381;
  letter-spacing: .016em;
}

.cards .link {
  position: relative;
  text-align: center;
  padding: 0;
  top: 0;
}

.cards .content-image {
  position: relative;
  display: flex;
  justify-content: center;
  top: 40px;
}

.fondo {
  width: 324px;
  height: 282px;
  background-image: radial-gradient(circle, #7773738c 35%, #121216, #121216);
  position: absolute;
  opacity: 0.7;
}

.cards img {
  width: 300px;
  height: 300px;
  z-index: 111111111;
}

/* End Content Cards */

.fluotec-image-logo {
  width: 21%;
}

.fluotec-image-logo img {
  height: auto;
  width: 138%;
}

.text-fluotec-logo {
  color: #ffffff;
  font-size: 33px;
  font-weight: 200;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.card-copa-image,
.card-image-golden-gate {
  background-repeat: no-repeat;
  background-size: 100% 510px;
  height: 516px;
  width: 47%;
}


.card-copa-image {
  background-image: url('../img/copa-image.jpg');
}

.card-image-golden-gate {
  background-image: url('../img/golden-gate.jpg');
}

.black-text {
  background: #000000bf;
  position: relative;
  height: auto;
  top: 81%;
}

.black-text p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 4px;
}

.black-text span {
  letter-spacing: 0px;
  position: relative;
  font-weight: 200;
  font-size: 17px;
  bottom: 8px;
}

.container h3 {
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 2px;
  position: relative;
  top: 15px;
  font-weight: 200;
  font-family: Futura;
}


/*

=====================================
|            Responsive              |
=====================================

*/

@media screen and (max-width:2560px) and (min-width:1600px) {

  .card-copa-image,
  .card-image-golden-gate {
    background-repeat: no-repeat;
    background-size: 100% 417px;
    height: 416px;
    width: 34%;
  }

}

/*  =====  RESPONSIVE - 1279px > 769px - Window LARGE =====  */

@media screen and (max-width:1279px) and (min-width:769px) {
  .container {
    background: #000000 !important;
    width: 100% !important;
  }

  .gallery-image {
    width: 210px;
  }

  .container h3 {
    top: 0px;
  }
}

/*  =====  RESPONSIVE - 768px > 600px - Window MEDIUM =====  */

@media screen and (max-width:768px) and (min-width:600px) {
  .gallery-content {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
  }

  .gallery-content .row {
    display: grid !important;
  }

  .container .row .col {
    padding: 17px !important;
  }

  .link .clearFix {
    display: block !important;
  }

  .clearFix {
    display: block !important;
  }

  .cards {
    margin: 10px 0 0;
    width: 100% !important;
  }

  .cards img {
    width: 300px !important;
    height: 300px !important;
  }

  .fluotec-image {
    width: 100%;
    height: 100% !important;
    position: relative;
    top: 0px;
    padding: 8px;
    display: flex;
    justify-content: center;
  }

  .image-girl img {
    width: 100%;
  }

  .card-copa-image,
  .card-image-golden-gate {
    background-repeat: no-repeat;
    background-size: 100% 510px;
    height: 516px;
    width: 100%;
  }

}

/*  =====  RESPONSIVE - 599px > 360px - Mobile BIG =====  */

@media screen and (max-width:599px) and (min-width:360px) {
  .gallery-content {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
  }

  .gallery-content .row {
    display: grid !important;
  }

  .container .row .col {
    padding: 17px !important;
  }

  .carousel-text {
    width: 100%;
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 1px;
  }

  .clearFix {
    display: block !important;
  }

  .cards {
    margin: 10px 0 0;
    width: 100% !important;
  }

  .cards img {
    width: 250px !important;
    height: 250px !important;
  }

  .fluotec-image {
    width: 100%;
    height: 100% !important;
    position: relative;
    height: 78px;
    top: 0px;
    padding: 8px;
    display: flex;
    justify-content: center;
  }

  .image-girl img {
    width: 100%;
  }

  .fluotec-image-logo,
  .fluotec-image-logo img {
    width: 100%;
  }

  .card-copa-image,
  .card-image-golden-gate {
    background-repeat: no-repeat;
    background-size: 100% 338px;
    height: 339px;
    width: 100%;
  }

  .black-text {
    top: 73%;
  }

  .container h3 {
    top: 0px;
  }
}

/*  =====  RESPONSIVE - 359px > 300px - Mobile SMALL =====  */

@media screen and (max-width:359px) and (min-width:300px) {
  .container .row .col {
    padding: 17px !important;
  }

  .sub-text {
    font-size: 32px;
  }

  .text-gallery {
    font-size: 23px;
  }

  .carousel-text {
    width: 100%;
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 1px;
  }

  .clearFix {
    display: block !important;
  }

  .cards {
    margin: 10px 0 0;
    width: 100% !important;
  }

  .cards img {
    width: 100% !important;
  }

  .fluotec-image {
    width: 100%;
    height: 100% !important;
    position: relative;
    height: 78px;
    top: 0px;
    padding: 8px;
    display: flex;
    justify-content: center;
  }

  .image-girl img {
    width: 100%;
  }

  .fluotec-image-logo,
  .fluotec-image-logo img {
    width: 100%;
  }

  .card-copa-image,
  .card-image-golden-gate {
    background-repeat: no-repeat;
    background-size: 100% 338px;
    height: 339px;
    width: 100%;
  }

  .container h3 {
    top: 0px;
  }

  .black-text {
    top: 73%;
  }
}