/* Custom Properties */
html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    margin: 2rem auto;
    overflow-x: hidden;
    background: #000000 !important;
    font-family: Futura !important;
}

a {
    font-size: 16px;
    color: #ffc107eb;
    text-decoration: none;
}

p {
    font-size: 1.25rem;
}

/* INT Navbar */

.navbar-light .navbar-nav .nav-link {
    color: #ffffff !important;
}

.active {
    font-weight: 900 !important;
}

.third-color {
    color: #ffffff;
}

.navbar-toggler {
    background-color: #fde300 !important;
    border: 1px solid #fde300;
}

/* END Navbar */

.header {
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
}


.text-header {
    color: #fff !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    font-weight: 200;
    font-size: 30px;
    top: 22px;
}

.main-header-text {
    color: #fff;
    text-align: center;
    width: 100%;
}

.main-header-text h3 {
    font-size: 36px;
    font-family: Futura;
    margin-top: 52px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: .016em;
}

.second-color {
    color: #fde300;
}

.main-header-text h5 {
    font-family: Futura;
    font-size: 18px;
    font-weight: 300;
    line-height: 2.2381;
    letter-spacing: .016em;
}

.fondo {
    width: 600px;
    height: 600px;
    background-image: radial-gradient(circle, #7773738c 56%, #000000, #000000);
    position: absolute;
    opacity: 0.5;
    top: -49px;
}

.header .content-image {
    position: relative;
    display: flex;
    justify-content: center;
    top: 40px;
}

.header img {
    width: 450px;
    height: 450px;
    z-index: 111111111;
}

/* INT Contenedor  */

.contenedor {
    width: 100%;
    position: relative;
    top: 138px;
}

.row-content {
    width: 100%;
    background: #000000;
}

.clearFix {
    padding: 7px 0;
    display: flex;
    justify-content: space-evenly;
}

.text-contenedor {
    font-family: Futura;
    color: #ffffff;
    font-weight: bold;
}

.contenedor .content-image {
    position: relative;
    display: flex;
    justify-content: center;
    top: 40px;
}

.contenedor img {
    width: 500px;
    height: 455px;
}

.container h4 {
    color: #ca9a3d;
    letter-spacing: 1px;
    font-family: Futura;
}

.container h5 {
    font-size: 18px;
    font-weight: 300;
    line-height: 2.2381;
    letter-spacing: .016em;
    color: #ffffff;
}

.container .second {
    color: #fde300 !important;
}


.text-container h2 {
    color: #fde300;
    letter-spacing: 2px;
    font-family: Futura;
    font-size: 37px;
    font-weight: 600;
}

.text-container .second-color,
p {
    color: #ffffff;
}

.list-group-item {
    background-color: #000000 !important;
    color: #ffffff !important;
}

.price {
    font-size: 30px;
    font-weight: bold;
    font-family: Futura;
    letter-spacing: 2px;
}

/*

=====================================
|            Responsive              |
=====================================

*/

/*  =====  RESPONSIVE - 1440px > 1280px - Window XLARGE =====  */

@media screen and (max-width:1440px) and (min-width:1280px) {}

/*  =====  RESPONSIVE - 1279px > 769px - Window LARGE =====  */

@media screen and (max-width:1279px) and (min-width:769px) {
    .header img {
        width: 350px;
        height: 350px;
        z-index: 111111111;
    }

    .fondo {
        width: 400px;
        height: 400px;
        background-image: radial-gradient(circle, #7773738c 56%, #000000, #000000);
        position: absolute;
        opacity: 0.5;
        top: -14px;
    }
}

/*  =====  RESPONSIVE - 768px > 600px - Window MEDIUM =====  */

@media screen and (max-width:768px) and (min-width:600px) {
    .header img {
        width: 350px;
        height: 350px;
        z-index: 111111111;
    }

    .fondo {
        width: 400px;
        height: 400px;
        background-image: radial-gradient(circle, #7773738c 56%, #000000, #000000);
        position: absolute;
        opacity: 0.5;
        top: -14px;
    }
}

/*  =====  RESPONSIVE - 599px > 360px - Mobile BIG =====  */

@media screen and (max-width:599px) and (min-width:360px) {
    .fondo {
        width: 300px;
        height: 300px;
        background-image: radial-gradient(circle, #7773738c 56%, #000000, #000000);
        position: absolute;
        opacity: 0.5;
        top: 1px;
    }

    .header img {
        width: 300px;
        height: 300px;
        z-index: 111111111;
    }

    .contenedor img {
        width: 100%;
        height: 355px;
    }
}


/*  =====  RESPONSIVE - 359px > 300px - Mobile SMALL =====  */

@media screen and (max-width:359px) and (min-width:300px) {
    .fondo {
        width: 300px;
        height: 300px;
        background-image: radial-gradient(circle, #7773738c 56%, #000000, #000000);
        position: absolute;
        opacity: 0.5;
        top: 1px;
    }

    .header img {
        width: 300px;
        height: 300px;
        z-index: 111111111;
    }

    .contenedor img {
        width: 100%;
        height: 355px;
    }
}