html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
}

body {
  margin: 2rem auto;
  overflow-x: hidden;
  background-color: #000 !important;
}

p {
  padding: 1rem;
  font-size: 1.25rem;
}

/* INT Navbar Styles */

.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
}

.active {
  font-weight: 900 !important;
}

.third-color {
  color: #ffffff;
}

.navbar-toggler {
  background-color: #ffc107eb !important;
  border: 1px solid #ffc107eb;
}

/* END Navbar Styles */

/* ======================================== */

/* INT Header Styles */

.header-banner {
  width: 100%;
  height: auto;
}

.header .text-header {
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 15px;
  text-transform: uppercase;
}

.text-cards-header {
  color: #fff !important;
  letter-spacing: 1px;
  font-weight: 300;
  position: relative;
  top: 22px;
}

/* END Header Styles */

/* ======================================== */

/* INT Slider Styles */
.row {
  background: #000 !important; 
}
.content-galery {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery-text {
  width: 721px;
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 1px;
}

.gallery-image {
  width: 285px;
}

/* END Slider Styles */

/* ======================================== */


.contenedor {
  width: 100%;
}

.contenedor a {
  font-size: 16px !important;
  color: #ffc107eb !important;
  text-decoration: none !important;
}

.row-content {
  width: 100%;
  background: #000000;
  ;
}

.clearFix {
  padding: 7px 0;
  display: flex;
  justify-content: space-evenly;
}

.cards-products {
  background-image: linear-gradient(to bottom, #000000, #1e1e1e, #363535, #4f4e4e, #696968) !important;
}

.cards-products .content-image {
  position: relative;
  display: flex;
  justify-content: center;
  top: 40px;
}

.cards-products .cards-text {
  text-transform: uppercase;
}

.cards-products img {
  width: 400px;
  height: 400px;
}

.fluotec-image {
  position: relative;
  top: 170px;
  height: 78px;
}

.cards,
.cards-products {
  background: #121216;
  border: 1px solid #121216;
  width: 49%;
  height: 545px;
}

.cards img {
  width: 300px;
  height: 300px;
}

.cards-text {
  color: #fff;
  text-align: center;
  width: 100%;
}

.cards-text h4 {
  font-size: 30px;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin-top: 52px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: .016em;
}

.second-color {
  color: #ffc107eb;
}

.cards-text h5 {
  font-size: 18px;
  font-weight: 300;
  line-height: 2.2381;
  letter-spacing: .016em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.cards .link {
  position: relative;
  text-align: center;
  padding: 0;
  top: 0;
}

.cards .content-image {
  position: relative;
  display: flex;
  justify-content: center;
  top: 40px;
}

/* 

=====================================
|            Responsive              |
=====================================

*/

/*  =====  RESPONSIVE - 1279px > 769px - Window LARGE =====  */

@media screen and (max-width:1279px) and (min-width:769px) {
  .container {
    background-color: #121216 !important;
    width: 100% !important;
  }

  .gallery-image {
    width: 210px;
  }

}


/*  =====  RESPONSIVE - 768px > 600px - Window MEDIUM =====  */

@media screen and (max-width:768px) and (min-width:600px) {
  .gallery-content {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
  }

  .gallery-content .row {
    display: grid !important;
  }

  .container .row .col {
    padding: 17px !important;
  }

  .link .clearFix {
    display: block !important;
  }

  .clearFix {
    display: block !important;
  }

  .cards {
    margin: 10px 0 0;
    width: 100% !important;
  }

  .cards img {
    width: 300px !important;
    height: 300px !important;
  }

  .cards-products {
    margin: 10px 0 0;
    width: 100% !important;
  }

  .fluotec-image {
    position: relative;
    height: 78px;
    top: 0px;
    padding: 8px;
    display: flex;
    justify-content: center;
  }

  .image-girl img {
    width: 100%;
  }

}

/*  =====  RESPONSIVE - 599px > 360px - Mobile BIG =====  */

@media screen and (max-width:599px) and (min-width:360px) {
  .gallery-content {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
  }

  .gallery-content .row {
    display: grid !important;
  }

  .container .row .col {
    padding: 17px !important;
  }

  .carousel-text {
    width: 100%;
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 1px;
  }

  .clearFix {
    display: block !important;
  }

  .cards {
    margin: 10px 0 0;
    width: 100% !important;
  }

  .cards img {
    width: 250px !important;
    height: 250px !important;
  }

  .cards-products {
    margin: 10px 0 0;
    width: 100% !important;
  }

  .fluotec-image {
    position: relative;
    height: 78px;
    top: 0px;
    padding: 8px;
    display: flex;
    justify-content: center;
  }

  .image-girl img {
    width: 100%;
  }
}

/*  =====  RESPONSIVE - 359px > 300px - Mobile SMALL =====  */

@media screen and (max-width:359px) and (min-width:300px) {
  .container .row .col {
    padding: 17px !important;
  }

  .carousel-text {
    width: 100%;
    color: #ffffff;
    font-weight: 200;
    letter-spacing: 1px;
  }

  .clearFix {
    display: block !important;
  }

  .cards {
    margin: 10px 0 0;
    width: 100% !important;
  }

  .cards img {
    width: 100% !important;
  }

  .cards-products {
    margin: 10px 0 0;
    width: 100% !important;
  }

  .fluotec-image {
    position: relative;
    height: 78px;
    top: 0px;
    padding: 8px;
    display: flex;
    justify-content: center;
  }

  .image-girl img {
    width: 100%;
  }
}