/* Custom Properties */
:root {
    --main-color: #F0DB4F;
    --main-modal-color: #000;
    --second-color: #000000;
    --second-modal-color: rgba(43, 43, 43, .5);
}

html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--second-color);
    background-color: var(--main-modal-color);
}

*,
*:after,
*:before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    margin: 2rem auto;
    overflow-x: hidden;
}

a {
    font-size: 16px;
    color: #ffc107eb;
    text-decoration: none;
}

p {
    font-size: 1.25rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff !important;
}

.active {
    font-weight: 900 !important;
}

.third-color {
    color: #ffffff;
}

.navbar-toggler {
    background-color: #ffc107eb !important;
    border: 1px solid #ffc107eb;
}

.Header {
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
}

.Header h1 {
    word-wrap: break-word;
    background: none;
    color: #000000;
}

.contenedor {
    width: 100%;
}

.row-content {
    width: 100%;
    background: #000000;
    ;
}

.clearFix {
    padding: 7px 0;
    display: flex;
    justify-content: space-evenly;
}

.cards {
    background: #121216;
    border: 1px solid #121216;
    width: 49%;
    height: 545px;
}

.cards img {
    width: 300px;
    height: 300px;
}

.cards-text {
    color: var(--main-modal-color);
    text-align: center;
    width: 100%;
}

.cards-text h4 {
    font-size: 30px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 52px;
    font-weight: 500;
    line-height: 1.ñ1;
    letter-spacing: .016em;
    color: #ffffff;
}

.second-color {
    color: #ffc107eb;
}

.cards-text h5 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 2.2381;
    letter-spacing: .016em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.cards .link {
    position: relative;
    text-align: center;
    padding: 0;
    top: 0;
}

.btn-warning {
    color: #ffffff !important;
}

.modal-header {
    border-bottom: none !important;
}

.modal-header .close {
    text-shadow: 0 1px 0 #ffc107eb !important;
    color: #ffc107eb !important;
    opacity: 1.5 !important;
}

.header-titulo {
    margin-top: 0;
    height: auto;
}

.header-titulo h4 {
    margin-top: 0px;
    text-align: justify;
}

.content-image-modal {
    top: 0px;
}

.content-image-modal img {
    width: 250px;
    height: 250px;
}

.cards-text-modal {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    line-height: 1.2381;
    letter-spacing: .016em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.modal-content {
    background-color: #121216 !important;
}

.cards .content-image {
    position: relative;
    display: flex;
    justify-content: center;
    top: 40px;
}


/* 

=====================================
|            Responsive              |
=====================================

*/

/*  =====  RESPONSIVE - 1440px > 1280px - Window XLARGE =====  */

@media screen and (max-width:1440px) and (min-width:1280px) {}

/*  =====  RESPONSIVE - 1279px > 769px - Window LARGE =====  */

@media screen and (max-width:1279px) and (min-width:769px) {}

/*  =====  RESPONSIVE - 768px > 600px - Window MEDIUM =====  */

@media screen and (max-width:768px) and (min-width:600px) {
    .link .clearFix {
        display: block !important;
    }

    .clearFix {
        display: block !important;
    }

    .cards {
        margin: 10px 0 0;
        width: 100% !important;
    }

    .cards img {
        width: 300px !important;
        height: 300px !important;
    }
}

/*  =====  RESPONSIVE - 599px > 360px - Mobile BIG =====  */

@media screen and (max-width:599px) and (min-width:360px) {
    .clearFix {
        display: block !important;
    }

    .cards {
        margin: 10px 0 0;
        width: 100% !important;
    }

    .cards img {
        width: 250px !important;
        height: 250px !important;
    }
}


/*  =====  RESPONSIVE - 359px > 300px - Mobile SMALL =====  */

@media screen and (max-width:359px) and (min-width:300px) {
    .clearFix {
        display: block !important;
    }

    .cards {
        margin: 10px 0 0;
    }

    .cards,
    img {
        width: 100% !important;
    }

    .cards-text-modal p {
        font-size: 20px !important;
    }
}